h1, h2, h3, h4, h5, p {
  font-family: 'Inter', sans-serif;
  color: #DFDFDF;
}

h2 {
  font-size: 48px;
  font-weight: bold;
}

p {
  font-size: 20px;
}

.bold {
  font-weight: bold;
}

.highlight {
  color: #02B159;
  text-decoration: underline;
}