h1, h2, h3, h4, h5, p {
  font-family: 'Inter', sans-serif;
  color: #DFDFDF;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 48px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

p {
  font-size: 20px;
}

.bold {
  font-weight: bold;
}

.highlight {
  color: #02B159;
  text-decoration: underline;
}

.redGradient {
  background: -webkit-linear-gradient(0deg, #FF9B9B, #FB3434);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.greenGradient {
  background: -webkit-linear-gradient(0deg, #ACFFAF, #43FE4A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.blueGradient {
  background: -webkit-linear-gradient(0deg, #ACCCFC, #5F9FFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}