.headerContainer {
  padding: 0 32px;
}

@media only screen and (max-width: 560px) {
  .headerContainer {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 645px) {
  .navBarContainer {
    display: none;
  }

  .navDropdownContainer {
    display: flex;
  }
}

@media only screen and (min-width: 646px) {
  .navBarContainer {
    display: flex;
    align-items: center;
  }

  .navDropdownContainer {
    display: none;
  }
}

@media only screen and (max-width: 720px) {
  .headerContainer li {
    font-size: 13px !important;
  }
}
