@media only screen and (max-width: 768px) {
  .navBarContainer {
    display: none;
  }
}

@media only screen and (min-width: 769px) {
  .navBarContainer {
    display: flex;
    align-items: center;
  }
}